extends layout

block content
  h1= title
  
  - let items =  results
   div.container-fluid
    div.row
     each vehicle,index in items
      div.col-sm-2(onClick=`buy(${index})`) #{vehicle.color}
      div.col-sm-2(onClick=`buy(${index})`) #{vehicle.model}
      div.col-sm-2(onClick=`buy(${index})`) #{vehicle.year}
      br
      hr

  script.
       function buy(index)
       {
        alert(`You purchased Item ${index+1}`)
       }
