extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let vehicleid = toShow._id
    - let color = toShow.color
    - let model = toShow.model
    - let year = toShow.year
    - let actionid = "/resource/vehicle/" + vehicleid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{vehicleid}
    form(id='vehicleForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-10")
          label.vehicleAttr(for='color',class="col-form-label") vehicle Colour
        div(class="col-auto")
          input#color(type='text', name='color',class="form-control", value=color)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-19")
          label.vehicleAttr(for='model',class="col-form-label") vehicle Breed 
        div(class="col-auto")
          input#model(type='text', name='model',class="form-control", value=model)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-19")
          label.vehicleAttr(for='year',class="col-form-label") vehicle cost
        div(class="col-auto")
          input#year(type='number', name='year',class="form-control", value=year)
      input(class="btn btn-info m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    
    script.
      document.forms['vehicleForm'].addEventListener('submit', (event) => {
       event.preventDefault();
      // TODO do something here to show user that form is being submitted
       fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
       });
      });